<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>{{ course.name }}</button>
        </div>

        <div class="col-lg-9">
            <button>{{ sport_bluetooth.name }}</button>
            <h2>{{ sport_bluetooth.name }}</h2>
            <img src="{{ sport_bluetooth.image }}" alt="">
            <p>{{ sport_bluetooth.para }}</p>
        </div>
    </div>
</div>